<!-- Contact us Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel title"><h1>Say Hello :)</h1></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="panel" align="left">
                                    <h4>Alexander Braverman Masis</h4>
                                    <address>
                                        <i class="fa fa-google"></i> Email me: <a href="mailto:alexbmasis@gmail.com">alexbmasis@gmail.com</a><br>
                                        <i class="fa fa-linkedin"></i> <a href="https://il.linkedin.com/in/alexbmasis">LinkedIn</a><br>
                                        <i class="fa fa-github"></i> Browse my work: <a href="https://github.com/abraverm">GitHub</a><br>
                                    </address>
                                    <img src="images/alex.jpg"  class="img-responsive img-circle" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>