<!-- Development Section -->
    <section id="development" class="development-section">
        <div class="container">
            <div class="row title">
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <h1><i class="fa fa-retweet"></i></h1>
                        <h2>Continues Integration</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <h1><i class="fa fa-github-alt"></i></h1>
                        <h2>Open Source</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <h1><i class="fa fa-eye"></i></h1>
                        <h2>Code Review</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg">
                        <h1><i class="fa fa-code"></i> Developing together is FUN!</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <a href="https://jenkins-abraverm.rhcloud.com/"><img src="images/jenkins.png" style="height: 10vh"></a><br>
                        <p align="left">
                            Jenkins tests every patch submitted to Gerrit. From syntax to system integration.
                            It allows us to focus on developing, find bugs faster, have a clean code and improve our communication.
                        </p>
                        <a href="https://jenkins-abraverm.rhcloud.com/" class="btn btn-info  btn-lg" role="button">Go to Jenkins</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <h3>Sharing is caring!</h3>
                        <span>All our work is available on GitHub</span><br>
                        <span>We prepared an example of a working Dashboard:</span><br>
                        <a href="https://github.com/abraverm/es-bugzilla-dashboard" class="btn btn-info  btn-sm" role="button"><i class="fa fa-github-square"></i> Dashboard</a><br>
                        <span>The results can be seen here:</span><br>
                        <a href="http://abraverm.github.io/es-bugzilla-dashboard/" class="btn btn-info  btn-sm" role="button"></i>Demo</a><br>
                        <span>Our first system to pull data from was Bugzilla</span><br>
                        <a href="https://github.com/abraverm/logstash-input-bugzilla" class="btn btn-info  btn-sm" role="button"><i class="fa fa-github-square"></i> Bugzilla</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <h1><img src="images/gerrit.png" style="height: 7vh"> Gerrit</h1>
                        <p>We have a huge fan of code review, his name is Jenkins. But you are welcome to share your thought too.</p>
                        <a href="https://review.gerrithub.io/#/q/project:abraverm/logstash-input-bugzilla" class="btn btn-info  btn-lg" role="button">Go to Gerrit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>